<app-container>
    <header>
        <section class="cabecalho-link">
            <img src="../../../assets/logo.png" alt="">
        </section>
        <div>
            <button>
              <img class="seta" src="assets/arrow-left.png" alt="">
              <a routerLink="/lista-contatos">Voltar</a>
            </button>
          </div>
        <section class="cabecalho-contato">
            <img src="../../../assets/adicionar-contato.png" alt="">
            <h1>Adicionar Contato</h1>
        </section>
    </header>

    <form [formGroup]="contatoForm" (ngSubmit)="salvarContato()">
        <!--formGroup coloca o nome do form friado no arquivo ts para sincronizar o formulario com o objeto-->
        <label for="nome">Nome</label>
        <input type="text" id="nome" placeholder="Digite o nome do contato"
            formControlName="nome"><!--no formControlName usar o mesmo nome que foi colocado no construtor para sincronizar os campos do formulario com o formgroup criado no ts-->
        @if (contatoForm.get('nome')?.errors && contatoForm.get('nome')?.touched )
        {<!--se o campo nome não for preenchido e ja foi tocado então erro, 
        ? é operador de navegação segura, serve caso o campo não exista-->
        <div class="mensagem-erro">Campo obrigatório</div>
        }

        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" placeholder="Digite o telefone do contato" formControlName="telefone">
        @if (contatoForm.get('telefone')?.errors && contatoForm.get('telefone')?.touched )
        {
        <div class="mensagem-erro">Campo obrigatório</div>
        }

        <label for="email">E-mail</label>
        <input type="text" id="email" placeholder="Digite o e-mail do contato" formControlName="email">
        @if (contatoForm.get('email')?.errors?.['required'] && contatoForm.get('email')?.touched )
        {
        <div class="mensagem-erro">Campo obrigatório</div>
        }
        @if (contatoForm.get('email')?.errors?.['email'] && contatoForm.get('email')?.touched )
        {
        <div class="mensagem-erro">Formato de email inválido</div>
        }

        <app-separador></app-separador>

        <label for="aniversario">Aniversario</label>
        <input type="date" id="aniversario" placeholder="Data de nascimento" formControlName="aniversario">
        @if (contatoForm.get('aniversario')?.errors && contatoForm.get('aniversario')?.touched )
        {
        <div class="mensagem-erro">Campo obrigatório</div>
        }

        <label for="redes">Redes Sociais</label>
        <div class="input-container">
            <span class="span-http">http://</span>
            <input type="url" id="redes" placeholder="Adicione a URL da página" formControlName="redes">
        </div>

        <label for="observacao">Observação</label>
        <textarea type="text" id="observacao"
            placeholder="Coloque obseravções nesse espaço. Exemplo: Instrutora da academia Nova imagem, amiga da Julia"
            formControlName="observacoes">
        </textarea>

        <Section class="botoes">

            <button (click)="cancelar()" class="botao-cancelar" type="button">Cancelar</button>

            <!--ngClass para estilizar o botão caso formulario seja inválido, botão desabilitado, estilei com os css para diferenciar-->
            <button 
            [disabled]="contatoForm.invalid"
            [ngClass]="contatoForm.valid ? 'botao-salvar' : 'botao-desabilitado' "
            type="submit">Salvar contato</button>

        </Section>

    </form>
x   
</app-container>